<div style="height: 100px; width: 100%; padding-top: 70px; "></div>
<div class="footer-content">
 <div class="footer-text">
  <p>myportfolio0328@gmail.com</p>
  <p>このmy portfolioというサービス自体が私のポートフォリオでもあります。プログラミングを初めて、最初に作ったちょっと本格的なサービスです。プログラミングを始めて半年くらいでエンジニアとしてより多くの機会をいただくために、自分で1からサービスを作る必要があると思い立ちました。しかし、ちょうど良い規模感で自分で作れそうなサービスがなかなか思いつきませんでした。ふと、「my portfolioという私のポートフォリオ」というしょうもないフレーズが頭に浮かびました。このサービスを作ったのは、しょうもないギャクを言うためと、エンジニアとしてもっと多くの学習の機会を得るためです。my portfolioがこれからしばらく、エンジニアとして私の名刺となってくれることを願います。
 また、ものを作っているクリエイターさんにとって作品を公開する良い場になるように運営していきます。

　</p>
 </div>
</div>


