<div style="height: 100px; width: 100%; padding-top: 70px; "></div>
<div class="footer-content">
 <div class="footer-text">
  <p>myportfolio0328@gmail.com</p>
  <p>こんにちは。my portfolioをご利用いただき、ありがとうございます。そして、Contactという非常に小さいリンクを踏んでこのページに至っていただきありがとうございます。my portfolioはクリエイターがポートフォリオを載せるプラットフォームとして機能することを目指しています。また、このmy portfolioというサービス自体が私のポートフォリオでもあります。私がプログラミングを始めてから二つ目に作ったサービスです。最初のサービスは4日ほどで作った簡単なものだったので、my portfolioが最初に作った人に見られても恥ずかしくないサービスです。プログラミングを始めて半年くらい経った時に、自分でゼロからサービスを作る必要があると思い始めました。それは、これからエンジニアとして良い経験の機会をいただくために自分の名刺がわりになるサービスが必要だと気付いたからです。しかし、ちょうど良い規模感で、かつ自分で作れそうなサービスがなかなか思いつきませんでした。ポートフォリオというのは、本気でサービスとしてヒットを狙っているわけでもなく、ただ、テキトウに作っても恥ずかしくなってしまうという、微妙な存在に感じます。どうしようかというときに、ふと、「my portfolioという私のポートフォリオ」というしょうもないフレーズが頭に浮かびました。このサービスを作ったのは、しょうもないギャクを言うためと、エンジニアとして良い経験の機会を得るためです。my portfolioがこれからしばらく、エンジニアとしての私の名刺となってくれればと思います。
最初、my portfolioの設計を考えていた時は、ユーザ同士がmy portfolio内でチームを組んで、ものをつくれたら良いな~と考えていました。結局、現時点でチーム編成の機能は作らないことにしました。機能として作るのが大変そうという正直な理由もありますが、そこはTwitterにまかせればいいじゃん！って思ったのが1番の理由です。my portfolio内で作品を通して繋がって、my portfolio内のTwitterボタンを踏めば、Twitter上で繋がることができます。既によく機能しているサービスをうまく利用することで、相互補助的な感じになればおもしろいな〜と思います。だから、my portfolio上で面白いクリエイターさんを見つけたら是非Twitterでアプローチしてほしいと思います。その時に、my portfolioのリンクをシェアしてくれたら私が喜びます。
このサービス開発を始めたのがちょうど2週間前です。最初はクリエイターをつなげるプラットフォームつくるぞ！とテンション高めでしたが、1週間後には、Wantedlyさんが似たようなサービスやってるな〜、既にあるものを再生産してるだけだな〜、と思い始めました。ものを作るのは全能感というか、痺れのようなものを感じる時もあれば、とっても虚しくなったり、いきなり不安が襲ってきたりもする行為だと私は思います。このContactページを書いている私には、まだmy portfolio公開までにやらなければならない作業がいくつかあります。セキュリティ的に危なくないかとか、利用規約これでいいのかとか、一番怖いのはユーザがmy portfolioを使用してくれている時にエラーが出ることです。しかし、これをあなたが見ているということはある程度は機能してくれているのだろうと思います。もしエラーがでたら、↑のgmailか私のツイッターに報告してくれると喜びます。
虚無感を感じる日もありましたが、9割くらい作り終えた今は、作ってよかったなと純粋に感じます。とりあえず、大学の学期が始まる前に公開できそうでよかった。。。
1週間後に始まる退屈な大学生活を少し意識しながら、今から最後の仕上げに取り掛かります。
Twitterの@peacetomori1118が一番私が早く反応できる空間なので、何かあったらお気軽に。
<p>やっぱり、ものを作るのは楽しい.</p>

2019/3/28(木)14:53

　</p>
 </div>
</div>


