<header>
 <div class="header-container">
  <div class="header-start">
   <%= link_to image_tag("logo2.png"), root_path, class: "header-logo" %>
<!--
   <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
     メニュー
     <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
     <li><a href="#">メニュー1</a></li>
     <li><a href="#">メニュー2</a></li>
     <li><a href="#">メニュー3</a></li>
     <li><a href="#">メニュー4</a></li>
    </ul>
   </div>
-->
  </div>
  <%= render 'shared/header_right' %>
 </div>
</header>
