<% if !!session[:user_id] %>

 <div class="header-right-content">
  <%= link_to "メニュー", '/static_pages/menu', remote: true, :class => "twitter-login-button", :style => "margin-left: 5px;" %>
 

  <% if @login_user.image %>
   <%= image_tag(@login_user.image, :class => 'header-icon') %>
  <% else %>
   <%= image_tag(@login_user.seedicon, :class => 'header-icon') %>
  <% end %>
 </div>

<% else %>

 <div class="header-right-content">
   <%= link_to "Twitterで登録/ログイン", user_twitter_omniauth_authorize_path, :class => "twitter-login-button" %>
 </div>

<% end %>
